<div class="clearfix">
<h4 class="float-left">Hesap Oluştur</h4>
<a href="/aswpanel/users" class="btn btn-danger btn-sm float-right">Vazgeç</a>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-md-5">
    <div class="card">
    <form class="form" action="/aswpanel/user/create" method="post">
        <div class="card-header bg-primary text-white">Hesap Bilgileri</div>
        <div class="card-body">

            <div class="form-group">
                <layout><small><strong>Kullanıcı Adı</strong></small></layout>
                <input type="text" class="form-control form-control-sm" name="username" required/>
            </div>

            <div class="form-group">
                <layout><small><strong>Şifre</strong></small></layout>
                <input type="password" class="form-control form-control-sm" name="password" required/>
            </div>

            <div class="form-group">
                <layout><small><strong>E-posta</strong></small></layout>
                <input type="email" class="form-control form-control-sm" name="email" required/>
            </div>

            <div class="form-group">
                <layout><small><strong>Ad ve Soyad</strong></small></layout>
                <input type="text" class="form-control form-control-sm" name="fullname"/>
            </div>

            <div class="form-group">
                <layout><small><strong>Hesap Türü</strong></small></layout>
                <select class="form-control form-control-sm" name="level">
                    <option value="1">Abone</option>
                    <option value="2">Yetkili</option>
                    <option value="3">Yönetici</option>
                    <option value="0">Aktif Olmayan</option>
                </select>
            </div>

            <div class="form-group">
                <layout><small><strong>Hesap Durumu</strong></small></layout>
                <select class="form-control form-control-sm" name="status">
                    <option value="1">Aktif</option>
                    <option value="0">Pasif</option>
                </select>
            </div>

            <div class="form-group">
                <layout><small><strong>Hakkında</strong></small></layout>
                <textarea name="description" rows="3" class="form-control form-control-sm"></textarea>
            </div>

        </div>
        <div class="card-footer bg-light clearfix">
            <button type="submit" class="btn btn-primary btn-sm float-right">Oluştur</button>
        </div>
    </form>
    </div>
    </div>
</div>
